.page {
  margin: 0 auto;
  max-width: 850px;
  padding: 1.25rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.link {
  margin-right: 1rem;
  background-image: none;
}

.link:last-child {
  margin-right: 0;
}
